* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

input {
  position: fixed;
  right: 1%;
  top: .5%;
  height: 40px;
  width: 20%;
  z-index: 2;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
}

#list-view {
  position: fixed;
  top: 4%;
  right: 1%;
  width: 20%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  z-index: 2;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
}

li {
  margin-left: 20px;
  padding: 2px 0;
  font: 12px sans-serif;
}

/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#content {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
}

#form {
    position: absolute;
    left: 3%;
    top: 65%;
    width: 12%;
    height: 5%;
    z-index: 2;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    background-color: #white;
}

.list {
    position: absolute;
    left: 3%;
    top: 50px;
    top: 70%;
    width: 12%;
    height: 25%;
    z-index: 2;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

}*/